<!doctype html>
<html lang="da">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>København Diplomatarium - Gadenavne (demo)</title>

     <!-- Place favicon.ico in the root directory -->
    <link rel="icon" href="favicon.ico">

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.1/leaflet.css">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div>
        <nav id="navbar" class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="brand-link" class="navbar-brand" href="#index">Københavns Diplomatarium - Gadenavne (demo)</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul id="nav-list" class="nav navbar-nav navbar-right">
                    </ul>
                    <div class="sponsored navbar-text navbar-right">Sponsored by <a href="http://info.clarin.dk" title="CLARIN-DK" target="_blank">CLARIN-DK</a> and <a href="http://kub.kb.dk/humlab" title="HUMlab" target="_blank">HUMlab</a>
                      <a title="CLARIN ERIC" href="https://www.clarin.eu/" target="_blank" class="clarin-logo">
                        <img src="images/CLARIN-Logo.png" alt="CLARIN ERIC logo" height="50" data-pin-nopin="true">
                      </a>
                      <a title="HUMlab" href="http://kub.kb.dk/humlab" target="_blank" class="humlab-logo">
                        <img src="images/humlab.jpg" alt="HUMlab logo" height="45" data-pin-nopin="true">
                      </a>
                    </div>
                </div>
            </div>
        </nav>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div id="KDmap"></div>
                    </div>
                    <div id="controls" class="col-md-4">
                      <div class="row">
                        <div class="col-md-12">
                          <div id="filterLabel" class="label label-default">Valgt årti: <span class="datePeriod"><%= dateStart %> - <%= dateStart + dateInterval %></span></div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <label for="fSlider">Filter efter årti</label>
                          <input id="fSlider" class="slider" type="text"
                            data-slider-id='fSlider'
                            data-slider-min="<%= dateStart %>"
                            data-slider-max="<%= dateEnd %>"
                            data-slider-step="<%= dateInterval %>"
                            data-slider-value="<%= dateStart %>"/>
                          <label for="fZoom"><input id="fZoom" type="checkbox" checked="checked"/>Zoom</label>
                        </div>
                      </div>
                    </div>
                </div>
                <div id="map-helptext" class="row hide">
                  <div class="col-md-8"><span aria-label="Arrow up"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
                    Klik på en fremhævet gade for at se relaterede dokumenter.
                  </div>
                </div>
                <div id="documents" class="row">
                  <div class="row">
                    <div class="col-md-12">
                      <h4>
                        Relaterede dokumenter
                      </h4>
                      <button type="button" class="clearMap btn">Ryd</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 partial"></div><!-- partial holder -->
                  </div>
                </div>
            </div>
        </section>
        <footer class="footer">
          <div class="container">
            <p class="text-muted"><a href="https://git.sc.ku.dk/lwn190/eremit-dk-KD-express" title="Git repository">Git repository</a> | source: <a href="http://eremit.dk/ebog/kd/" title="Københavns Diplomatarium">Nielsen, Oluf (Udg.), Kjøbenhavns Diplomatarium I - X</a> </p>
          </div>
        </footer>

    </div>
    <!-- leafletJS CDN -->
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>

    <!-- build:js js/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <!-- endbuild -->

    <!-- build:js js/main.js -->
    <script src="js/main.js"></script>
    <!-- endbuild -->
</body>

</html>
